<html>
<head>
    <link href="http://www.google.com/design/spec/static/css/main.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <title>Seminario 3 - Sistemas Distribuidos</title>
    <link rel="stylesheet" href="http://josecarlosaragon.hol.es/estilos.css" rel='stylesheet' type='text/css'>
    {{mymap.js}}
</head>
<body>
    <header class="qp-ui" data-qp-ui="{
  'Peekaboo': {
    'mobile': 72,
    'desktop-sm': 72,
    'default': 192
  }
}">
  <div class="header-wrapper qp-ui" data-qp-ui="{
    'Peekaboo': {
      'mobile': 28,
      'desktop-sm': 28,
      'default': 82
    }
  }">
    <div class="header-title">      <span class="section-title">Seminario 3 - Sistemas Distribuidos</span>
      <span class="chapter-title">Búsqueda</span>
    </div>
  </div>
</header>
  <div class="group" style="margin-left:25%">
    <div width=600, height=800>{{mymap.html}}</div>
  </div>

</body>
</html>
